.container {
  position: relative;
}

.button {
  ~ .content {
    position: absolute;
    bottom: 100%;
    right: 0;
  }
}

.content {
  min-width: 300px;
  background-color: #fff;
  max-height: 200px;
  border: 1px solid #ccc;
  overflow-y: auto;
  box-shadow: 1px 1px 5px 0 #ccc;

  &.closed {
    display: none;
  }
}
