.container {
  border: 1px solid #f5c6cb;
  color: #721c24;
  background-color: #f8d7da;
  margin: 1rem 0;
  padding: 0.75rem 1.25rem;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border: 0;
  appearance: none;
}
